WebCommon/Web References/MSG/sms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://106.ihuyi.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://106.ihuyi.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://106.ihuyi.com/">
      <s:element name="Submit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitResult" type="tns:SubmitResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SubmitResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="smsid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitResult" nillable="true" type="tns:SubmitResult" />
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="tns:ChangePasswordResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePasswordResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePasswordResult" nillable="true" type="tns:ChangePasswordResult" />
      <s:element name="GetNum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNumResult" type="tns:GetNumResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetNumResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="num" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNumResult" nillable="true" type="tns:GetNumResult" />
      <s:element name="GetReply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReplyResult" type="tns:GetReplyResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetReplyResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReplyResult" nillable="true" type="tns:GetReplyResult" />
      <s:element name="Query">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="smsid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResult" type="tns:QueryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QueryResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResult" nillable="true" type="tns:QueryResult" />
      <s:element name="GetKeFu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="account" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeFuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeFuResult" type="tns:GetKeFuResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetKeFuResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="info" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetKeFuResult" nillable="true" type="tns:GetKeFuResult" />
      <s:element name="VersionInfo">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="VersionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionInfoResult" type="tns:VersionInfoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VersionInfoResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VersionInfoResult" nillable="true" type="tns:VersionInfoResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitSoapIn">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="SubmitSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitHttpGetOut">
    <wsdl:part name="Body" element="tns:SubmitResult" />
  </wsdl:message>
  <wsdl:message name="SubmitHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="mobile" type="s:string" />
    <wsdl:part name="content" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitHttpPostOut">
    <wsdl:part name="Body" element="tns:SubmitResult" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="newpassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:ChangePasswordResult" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="newpassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:ChangePasswordResult" />
  </wsdl:message>
  <wsdl:message name="GetNumSoapIn">
    <wsdl:part name="parameters" element="tns:GetNum" />
  </wsdl:message>
  <wsdl:message name="GetNumSoapOut">
    <wsdl:part name="parameters" element="tns:GetNumResponse" />
  </wsdl:message>
  <wsdl:message name="GetNumHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumHttpGetOut">
    <wsdl:part name="Body" element="tns:GetNumResult" />
  </wsdl:message>
  <wsdl:message name="GetNumHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNumHttpPostOut">
    <wsdl:part name="Body" element="tns:GetNumResult" />
  </wsdl:message>
  <wsdl:message name="GetReplySoapIn">
    <wsdl:part name="parameters" element="tns:GetReply" />
  </wsdl:message>
  <wsdl:message name="GetReplySoapOut">
    <wsdl:part name="parameters" element="tns:GetReplyResponse" />
  </wsdl:message>
  <wsdl:message name="GetReplyHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReplyHttpGetOut">
    <wsdl:part name="Body" element="tns:GetReplyResult" />
  </wsdl:message>
  <wsdl:message name="GetReplyHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReplyHttpPostOut">
    <wsdl:part name="Body" element="tns:GetReplyResult" />
  </wsdl:message>
  <wsdl:message name="QuerySoapIn">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="QuerySoapOut">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="QueryHttpGetIn">
    <wsdl:part name="smsid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryHttpGetOut">
    <wsdl:part name="Body" element="tns:QueryResult" />
  </wsdl:message>
  <wsdl:message name="QueryHttpPostIn">
    <wsdl:part name="smsid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryHttpPostOut">
    <wsdl:part name="Body" element="tns:QueryResult" />
  </wsdl:message>
  <wsdl:message name="GetKeFuSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeFu" />
  </wsdl:message>
  <wsdl:message name="GetKeFuSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeFuResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeFuHttpGetIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetKeFuHttpGetOut">
    <wsdl:part name="Body" element="tns:GetKeFuResult" />
  </wsdl:message>
  <wsdl:message name="GetKeFuHttpPostIn">
    <wsdl:part name="account" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetKeFuHttpPostOut">
    <wsdl:part name="Body" element="tns:GetKeFuResult" />
  </wsdl:message>
  <wsdl:message name="VersionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:VersionInfo" />
  </wsdl:message>
  <wsdl:message name="VersionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:VersionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="VersionInfoHttpGetIn" />
  <wsdl:message name="VersionInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:VersionInfoResult" />
  </wsdl:message>
  <wsdl:message name="VersionInfoHttpPostIn" />
  <wsdl:message name="VersionInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:VersionInfoResult" />
  </wsdl:message>
  <wsdl:portType name="smsSoap">
    <wsdl:operation name="Submit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交短信:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;password:密码&lt;br&gt;mobile:手机号码&lt;br&gt;content:短信内容</wsdl:documentation>
      <wsdl:input message="tns:SubmitSoapIn" />
      <wsdl:output message="tns:SubmitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改短信账号密码:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;password:旧密码&lt;br&gt;newpassword:新密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询账户余额:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetNumSoapIn" />
      <wsdl:output message="tns:GetNumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询用户回复:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetReplySoapIn" />
      <wsdl:output message="tns:GetReplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询发送回执:&lt;br&gt;参数说明:&lt;br&gt;smsid:流水号</wsdl:documentation>
      <wsdl:input message="tns:QuerySoapIn" />
      <wsdl:output message="tns:QuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取客服信息:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetKeFuSoapIn" />
      <wsdl:output message="tns:GetKeFuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">版本信息,仅用于提示:&lt;br&gt;参数说明:</wsdl:documentation>
      <wsdl:input message="tns:VersionInfoSoapIn" />
      <wsdl:output message="tns:VersionInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="smsHttpGet">
    <wsdl:operation name="Submit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交短信:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;password:密码&lt;br&gt;mobile:手机号码&lt;br&gt;content:短信内容</wsdl:documentation>
      <wsdl:input message="tns:SubmitHttpGetIn" />
      <wsdl:output message="tns:SubmitHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改短信账号密码:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;password:旧密码&lt;br&gt;newpassword:新密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询账户余额:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetNumHttpGetIn" />
      <wsdl:output message="tns:GetNumHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询用户回复:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetReplyHttpGetIn" />
      <wsdl:output message="tns:GetReplyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询发送回执:&lt;br&gt;参数说明:&lt;br&gt;smsid:流水号</wsdl:documentation>
      <wsdl:input message="tns:QueryHttpGetIn" />
      <wsdl:output message="tns:QueryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取客服信息:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetKeFuHttpGetIn" />
      <wsdl:output message="tns:GetKeFuHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">版本信息,仅用于提示:&lt;br&gt;参数说明:</wsdl:documentation>
      <wsdl:input message="tns:VersionInfoHttpGetIn" />
      <wsdl:output message="tns:VersionInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="smsHttpPost">
    <wsdl:operation name="Submit">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提交短信:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;password:密码&lt;br&gt;mobile:手机号码&lt;br&gt;content:短信内容</wsdl:documentation>
      <wsdl:input message="tns:SubmitHttpPostIn" />
      <wsdl:output message="tns:SubmitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改短信账号密码:&lt;br&gt;参数说明:&lt;br&gt;account:账号&lt;br&gt;password:旧密码&lt;br&gt;newpassword:新密码</wsdl:documentation>
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询账户余额:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetNumHttpPostIn" />
      <wsdl:output message="tns:GetNumHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询用户回复:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetReplyHttpPostIn" />
      <wsdl:output message="tns:GetReplyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查询发送回执:&lt;br&gt;参数说明:&lt;br&gt;smsid:流水号</wsdl:documentation>
      <wsdl:input message="tns:QueryHttpPostIn" />
      <wsdl:output message="tns:QueryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取客服信息:&lt;br&gt;参数说明:&lt;br&gt;account:查询用户名&lt;br&gt;password:查询用户密码</wsdl:documentation>
      <wsdl:input message="tns:GetKeFuHttpPostIn" />
      <wsdl:output message="tns:GetKeFuHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">版本信息,仅用于提示:&lt;br&gt;参数说明:</wsdl:documentation>
      <wsdl:input message="tns:VersionInfoHttpPostIn" />
      <wsdl:output message="tns:VersionInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="smsSoap" type="tns:smsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://106.ihuyi.com/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://106.ihuyi.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <soap:operation soapAction="http://106.ihuyi.com/GetNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <soap:operation soapAction="http://106.ihuyi.com/GetReply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://106.ihuyi.com/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <soap:operation soapAction="http://106.ihuyi.com/GetKeFu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <soap:operation soapAction="http://106.ihuyi.com/VersionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smsSoap12" type="tns:smsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Submit">
      <soap12:operation soapAction="http://106.ihuyi.com/Submit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://106.ihuyi.com/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <soap12:operation soapAction="http://106.ihuyi.com/GetNum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <soap12:operation soapAction="http://106.ihuyi.com/GetReply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap12:operation soapAction="http://106.ihuyi.com/Query" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <soap12:operation soapAction="http://106.ihuyi.com/GetKeFu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <soap12:operation soapAction="http://106.ihuyi.com/VersionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smsHttpGet" type="tns:smsHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Submit">
      <http:operation location="sms.php?method=Submit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="sms.php?method=ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <http:operation location="sms.php?method=GetNum" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <http:operation location="sms.php?method=GetReply" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <http:operation location="sms.php?method=Query" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <http:operation location="sms.php?method=GetKeFu" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <http:operation location="sms.php?method=VersionInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="smsHttpPost" type="tns:smsHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Submit">
      <http:operation location="sms.php?method=Submit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="sms.php?method=ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNum">
      <http:operation location="sms.php?method=GetNum" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReply">
      <http:operation location="sms.php?method=GetReply" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <http:operation location="sms.php?method=Query" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeFu">
      <http:operation location="sms.php?method=GetKeFu" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionInfo">
      <http:operation location="sms.php?method=VersionInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sms">
    <wsdl:port name="smsSoap" binding="tns:smsSoap">
      <soap:address location="http://106.ihuyi.com/webservice/sms.php?smsService" />
    </wsdl:port>
    <wsdl:port name="smsSoap12" binding="tns:smsSoap12">
      <soap12:address location="http://106.ihuyi.com/webservice/sms.php?smsService" />
    </wsdl:port>
    <wsdl:port name="smsHttpGet" binding="tns:smsHttpGet">
      <http:address location="http://106.ihuyi.com/webservice/sms.php?smsService" />
    </wsdl:port>
    <wsdl:port name="smsHttpPost" binding="tns:smsHttpPost">
      <http:address location="http://106.ihuyi.com/webservice/sms.php?smsService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>